.sb-active{
    background-color: rgb(61, 61, 194);
    color: white;
    padding: 5px;
    border: 0;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 2px;
}
.sb-disabled{
    background-color: rgba(61, 61, 194, 0.7);
    color: rgb(220, 239, 248);
    padding: 5px;
    border: 0;
    cursor: not-allowed;
    border-radius: 8px;
}

.modal__heading{
    border-bottom: 1px solid grey;
    margin-bottom: 15px;
}
.modal__lat,.sample__table,.file__upload{
    margin-bottom: 4px;
    color: black;
}
.model_selection{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.model_selection>label{
    display: flex;
    align-items: center;
    justify-content: center;
}
.data-type-form{
    margin-top: 30px;
}
.upload-text{
    margin-top: 15px;
    color: black;
}

.pls-upload{
    font-size: 13px;
    color: red;
    margin-bottom: 15px;
}
.pls-upload select {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }

.sample__table > a{
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(61, 61, 194);
    color: white;
    cursor: pointer;
    position: relative;
}

.sbmt-modal-childs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}
.sample-graph{
    padding: 5px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 6px;
    margin: 8px 8px 8px 0;
    cursor: pointer;
}
.cancel-sbmt{
    padding: 8px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 6px;
    margin: 8px;
    cursor: pointer;
}
.desc-txt{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    text-align: center;
    max-width: 300px;
    color: black;
}
.calculating{
    margin-bottom: 15px;
    color: black;
    font-size: "22px";
    font-weight: "550";
}
