extends baseEmail

block content
  p Hi #{firstName},
  p Good to see you. We hope you will like our service. 
  p Enjoy you 3 days free trial.
  br
  p Your verification code is: #{verificationCode}
  br
  p Best regards,
  p The Team
