@import url("Sidebar.css");
.plot__container {
    height: 100%;
    padding: 10px;
    padding-top: 0;
    flex: 0.8;
    display: flex;
    flex-direction: column;
    background-color:#f7f5f4;
}

.main__plot {
    height: 90%;
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.main__plot>p{
    height: 100%;
    font-size: 30px;
    font-weight: 500;
    color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rolling-loader {
  margin: 16px auto 0;
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top: 4px solid #4caf50;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  } 
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.params-btn {
    width: fit-content;
    border-radius: 9px;
    border: none;
    background-color: rgb(61, 61, 194);
    color: white;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 8px;
}

.params-btn:hover {
    background-color: rgb(47, 47, 145);
}

.plot {
    width: 99%;
    position: absolute;
    height: 90%;
    margin-top: 10px;
}

.radio-opt {
    /* border: 1px solid red; */
    margin-top: 8px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.radio__txt {
    /* border: 1px solid green; */
    margin-left: 4px;
}

.visualize__range{
    outline: none;
}
.sidebar__container.collapsed + .plot__container {
  flex: 0.96; /* The sum should remain 1 (0.2 + 0.8 = 1) */
}

/* .visualize__range {
    width: 80%;
    height: 8px; 
    appearance: none;
  }  */
  
  /* .visualize__range::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    background-color: #FF0000;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
  }
  
  .visualize__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #FF0000;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
  }
  
  .visualize__range::-webkit-slider-runnable-track {
    background-color: #CCCCCC;
    height: 8px;
    border-radius: 5px;
  }
  
  .visualize__range::-moz-range-track {
    background-color: #CCCCCC;
    height: 8px;
    border-radius: 5px;
  }
  
  .visualize__range::-webkit-slider-thumb::before {
    content: attr(value);
    position: absolute;
    top: -30px;
    left: -10px;
    padding: 5px;
    background-color: #333333;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 12px;
  }
  
  .visualize__range::-moz-range-thumb::before {
    content: attr(value);
    position: absolute;
    top: -30px;
    left: -10px;
    padding: 5px;
    background-color: #333333;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 12px;
  }
   */