/* Sidebar.css */

.sidebar__container {
  flex: 0.2;
  height: 100vh;
  background-color: #121621;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.menu_icon {
  width: 1.25em;
  height: 1em;
  margin-right: 0px;
  cursor: pointer;
  user-select: none;
  font-size: 30px; /* Adjust the font size to match the .logo */
  vertical-align: middle;
}

.header {
  display: flex;
  margin-top: 8px;
  height: 30px;
  margin-left: 3px;
  margin-bottom: 4px;
}

.logo {
  font-size: 30px;
  line-height: 30px;
}

.link-to-compare,
.link-to-graph,
.link-to-logout,
.link-to-history,
.link-to-home,
.link-to-sample,
.link-to-forecast {
  color: white;
  text-decoration: none;
  height: 2.8rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 200ms ease;
}

.link-to-history.disabled{
  color: grey;
  background-color: transparent;
}
.link-to-history.disabled:hover{
  color: grey;
  background-color: transparent;
}

.link-to-graph.active-sb,
.link-to-history.active-sb,
.link-to-home.active-sb,
.link-to-forecast.active-sb,
.link-to-compare.active-sb,
.link-to-sample.active-sb {
  background-color: #f7f5f4;
  color: gray;
  border-radius: 10px 0 0 10px;
}
.account-open.active-sb {
  background-color: #f7f5f4;
  color: grey;
  border-radius: 10px 0 0 10px;
}
.account-open.active-sb > p {
  color: grey;
}
.account-open.active-sb:hover >p {
  color: white;
}

.link-to-forecast:hover,
.link-to-graph:hover,
.link-to-logout:hover,
.link-to-history:hover,
.link-to-home:hover,
.link-to-compare:hover,
.user-sideInfo:hover,
.link-to-sample:hover {
  background-color: #877452;
  color: white;
}

.user-sideInfo > p {
  color: white;
}

.link-to-logout {
  position: absolute;
  bottom: 0;
  width: 19.5%;
}

.user-sideInfo {
  height: 2.8rem;
  display: flex;
  align-items: center;
  position: relative;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 200ms ease;
}

.username-icon,
.graph-icon,
.logout-icon,
.history-icon,
.home-icon,
.forecast-icon,
.sample-icon,
.compare-icon {
  font-size: 15px;
  margin-right: 8px;
  margin-left: 8px;
  flex-shrink: 0;
}

.account-info {
  color: white;
  text-decoration: none;
  position: absolute;
  right: 0;
  height: 100%;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 200ms ease;
}

.user-account {
  margin-top: 20px;
  padding-bottom: 5px;
}

/* Add this CSS to hide text when the sidebar collapses */
.hide-text {
  display: none;
}

/* Add this CSS to style the collapsed sidebar */
.sidebar__container.collapsed {
  flex: 0.04;
}

.sidebar__container.collapsed .header {
  margin: 3px;
  padding: 0%;
  height: 1.25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar__container.collapsed .user-account,
.sidebar__container.collapsed .link-text {
  display: none;
}

.sidebar__container.collapsed .user-sideInfo,
.sidebar__container.collapsed .link-to-forecast,
.sidebar__container.collapsed .link-to-history,
.sidebar__container.collapsed .link-to-compare,
.sidebar__container.collapsed .link-to-graph,
.sidebar__container.collapsed .link-to-logout,
.sidebar__container.collapsed .link-to-home,
.sidebar__container.collapsed .logo {
  display: flex;
  align-items: center;
}
.sidebar__container.collapsed .logo,
.sidebar__container.collapsed .header .menu_icon {
  margin-bottom: 5px;
  padding-top: 2px;
}
.sidebar__container.collapsed .user-sideInfo .username-icon,
.sidebar__container.collapsed .link-to-forecast .forecast-icon,
.sidebar__container.collapsed .link-to-history .history-icon,
.sidebar__container.collapsed .link-to-compare .compare-icon,
.sidebar__container.collapsed .link-to-graph .graph-icon,
.sidebar__container.collapsed .link-to-logout .logout-icon,
.sidebar__container.collapsed .link-to-home .home-icon,
.sidebar__container.collapsed .logo,
.sidebar__container.collapsed .header .menu_icon {
  font-size: 24px; /* Adjust the font-size to your preference */
  margin-right: 16px; /* Adjust the margin as needed */
}

.sidebar__container.collapsed .account-info {
  padding: 0;
}

.sidebar__container.collapsed .account-link {
  padding: 0;
  align-items: center;
  justify-content: center;
}

.sidebar__container.collapsed .account-info.active-sb {
  background-color: transparent;
}

.sidebar__container.collapsed .account-link.active-sb {
  background-color: transparent;
}
