.main__history {
  /* border: 1px solid red; */
  margin-top: 10px;
  height: 98vh;
  padding: 3px;
  overflow: auto;
}
.main__history > .loading-p {
  font-size: 25px;
  font-weight: 500;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: lightgrey;
}

.disabled {
  background-color: rgb(135, 145, 235);
  cursor: not-allowed;
  color: white;
  border: none;
}
.item__date {
  color: gray;
}
.item__date > .date {
  font-size: 16px;
}
.item__date > .time {
  font-size: 12px;
  color: rgb(180, 177, 177);
}
.history__item {
  cursor: pointer;
  padding: 15px 15px 5px 15px;
  margin-bottom: 4px;
  background-color: white;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 5px;
}
.history__item:hover {
  background-color: #f1f1f1;
}
.view-history {
  position: absolute;
  right: 80px;
  border-radius: 8px;
  border: 1px solid green;
  cursor: pointer;
  color: green;
  background-color: transparent;
  padding: 5px;
  margin-bottom: 15px;
  transition: background-color 200ms ease;
}
.view-history:hover {
  background-color: green;
  color: white;
}
.delete-history {
  position: absolute;
  right: 10px;
  border-radius: 8px;
  border: 0;
  color: white;
  background-color: red;
  padding: 6px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 200ms ease;
}
.delete-history:hover {
  background-color: rgb(183, 3, 3);
}

.download-history {
  position: absolute;
  right: 45px;
  border-radius: 8px;
  border: 0;
  color: white;
  background-color: rgb(43, 149, 175);
  padding: 6px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 200ms ease;
}
.download-history:hover {
  background-color: rgb(24, 88, 104);
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cac8c8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9d9c9c;
  cursor: pointer;
}
