.checkout-btn {
  width: 90%;
  padding: 12px 8px;
  margin-left: 5%;
  background-color: transparent;
  border: 1.5px solid #ff5722;
  font-weight: 600;
  color: #ff5722;
  /* border: none; */
  cursor: pointer;
  border-radius: 12px;
  margin-bottom: 25px;
  font-size: 1rem;
}

.disabled-pay {
  cursor: not-allowed;
}
