/* .login__title{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 25px;
    color: rgb(18, 114, 232);
    text-align: center;
} */
/* .login__btn{
    cursor: pointer;
    background-color: rgb(61, 61, 194);
    border-radius: 8px;
    padding: 10px 15px;
    color: white;
    border: 0;
    margin-bottom: 5px;
    transition: background-color 200ms ease-in;
    max-width: fit-content;
    align-self: center;
} */
/* .login__btn:hover{
    background-color: #0808ed;
} */
